# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Pong.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\nacho\Desktop\UnityProjects\CursosUnity2020\Pong\.idea\.idea.Pong\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
