# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.03_JumpRun.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\nacho\Desktop\UnityProjects\CursosUnity2020\03_JumpRun\.idea\.idea.03_JumpRun\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
