# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.04_Balls.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\nacho\Desktop\UnityProjects\CursosUnity2020\04_Balls\.idea\.idea.04_Balls\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
